<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="PropertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="configurationFactoryBean" />
		<property name="locations">
			<list>
				<value>classpath:sqlmaps/View_Sql.properties</value>
			</list>
		</property>
	</bean>

	<bean id="configurationFactoryBean"
		class="ca.cihi.blueprint.core.common.config.ConfigurationFactoryBean">
		<constructor-arg ref="configuration" />
	</bean>

	<bean id="configuration" class="org.apache.commons.configuration.CompositeConfiguration">
		<constructor-arg>
			<list>
				<bean
					class="ca.cihi.blueprint.core.common.config.CentralizedConfiguration">
					<constructor-arg value="CIMS" />
				</bean>
				<bean
					class="ca.cihi.blueprint.core.common.config.EnvSpecificFileConfiguration">
					<constructor-arg type="java.lang.String"
						value="cims_web_internal.properties" />
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean
		class="ca.cihi.blueprint.core.common.config.ApplicationPropertiesProvider" />

	<bean id="cimsConfiguration" class="ca.cihi.cims.util.CimsConfiguration">
		<constructor-arg ref="configuration" />
	</bean>

</beans>