Dear Users:<br/>

Our ${FISCAL_YEAR} ${RELEASE_TYPE} Classifications Tables for ${RELEASE_DATE} can be found in the All Public Folders: <directory for classification tables> <br/>

A high level list that summarizes the changes in these tables is attached to this email. <br/>

The next (last) set of v. ${FISCAL_YEAR} tables will be distributed in the fall. They will be labelled the ${NEXT_RELEASE_TYPE} Tables. <br/>

These tables are for your internal purposes at this time. Please let me know if you find errata. <br/>

The vendors will also receive a set of these tables. <br/>

If there is anyone else in CIHI who should be receiving this notice, please let me know and I will put them on the DL-Classifications Tables list. <br/> <br/>

Thank you, <br/>
Classifications Team <br/>